/* Main container for the menu, taking up the full viewport */
.main-menu-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #000; /* Black background */
    padding: 0;
    margin: 0;
}

@keyframes bobbing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
}

/* Content section of the menu, centered both vertically and horizontally */
.main-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

/* Logo styling with fixed dimensions and centered alignment */
.main-menu-logo {
    height: 200px;
    width: 200px;
    align-self: center;
    position: relative;
    overflow: hidden;
    animation: bobbing 2.5s infinite cubic-bezier(0.35, 0, 0.65, 1); /* Adjust from default ease-in-out (0.42, 0, 0.58, 1) */
}

/* Title container for centering the title */
.title-container {
    display: flex;
    justify-content: center;
    height: 20%;
    padding-bottom: 16px;
}

/* Padding adjustment for the title to fix alignment issues */
.title-padding {
    width: 20px;
}

/* Custom font for the Asteroids title */
@font-face {
    font-family: 'SpaceMission';
    src: url('./fonts/SpaceMission-rgyw9.otf') format('opentype');
}

/* Styling for the Asteroids title */
.title {
    align-self: center;
    font-size: 8rem;
    font-family: 'SpaceMission';
    -webkit-text-fill-color: #222; /* Inner text color */
    -webkit-text-stroke: 2px; /* Outline stroke */
    text-align: center;
    color: white; /* Fallback color */
    height: 10.2rem;
}

.icon-link {
    margin: 0;
    display: inline-flex; /* Makes the Link behave like a container */
    text-decoration: none; /* Remove underline */
    width: fit-content; /* Ensure the size matches its child */
    height: fit-content;
}

/* Styling for the Play button.
* Adds onto app-wide button styles
* to be tailored to Play button. */
.play-button {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;

    margin: 20px;
    margin-bottom: 40px;

    font-size: 2.3rem;

    border-radius: 20px; /* Rounded corners */
    border: 2px solid transparent; /* Transparent border */

    transition: transform 0.2s ease;
}

.play-button:hover {
    transform: scale(1.04);
}

.play-button:active {
    transform: scale(0.98);
}

/* Container for the menu icons, spaced evenly */
.icon-container {
    display: flex;
    justify-content: space-between;
    width: 72%;
}

/* Individual icon set container, aligned vertically */
.icon-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.side {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 110px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
    align-items: center;
}

.circular-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.2s ease;
}

.profile-icon {
    height: 60%;
    width: 60%;
    image-rendering: pixelated;
}

.circular-container:hover {
    transform: scale(1.07);
}

.circular-container:active {
    transform: scale(0.95);
}

/* Exit button container, aligned to the top-right */
.exit-set {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.menu-icon {
    width: 80px;
    height: 80px;
    transition: 0.2s ease;
}

.menu-icon:hover {
    transform: scale(1.07);
}

.menu-icon:active {
    transform: scale(0.95);
}


.exit-icon {
    width: 40px;
    height: 40px;
    transition: 0.2s ease;
}

.exit-icon:hover {
    transform: scale(1.07);
}

.exit-icon:active {
    transform: scale(0.95);
}