#stats-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}


.stats-row {
    display: flex;
}

.stats-container {
    border: 1px solid white;
    border-radius: 16px;
}

.bests-container {
    display: flex;
    justify-content: space-between;
}

.recent-container {
    flex-direction: column;
}