#stats-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats-row {
    display: flex;
}

.stats-container {
    border: 1px solid white;
}

.bests-container {
    display: flex;
    justify-content: space-between;
}

.recent-container {
    flex-direction: column;
}